*.pyc
*.jpg
*.png
*.csv
*.mp4
*
!*.*
!*/
*/ROS/ROS2/*/build/
*/ROS/ROS2/*/install/
*/ROS/ROS2/*/log/
*/ROS/ROS1/*/build/
*install/
*build/
*log/
*/ROS/ROS1/*/devel/
*/webots/*/controllers
*/webots/*/libraries
*/webots/*/plugins
*/webots/*/protos
*/webots/camera_in_webots/
*/webots/webots_camera/
*.o
*.cmake
*.out
CMakeCache.*
*/CMakeFiles/
*/*/CMakeFiles/
*/*/*/CMakeFiles/
*/*/*/*/CMakeFiles/
*/*/*/*/*/CMakeFiles/
*/*/*/*/*/*/CMakeFiles/
!*/ruby/markdown_auto_toc/summerizeMD
log.*
*.log
*.so
*.a
*.pyc
*.aux
*.log
*.bbl
*.blg
*.loa
*.lof
*.lot
*.out
*.pdf
*.gz
*.toc
